body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #202124;
  color: #e8eaed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 0;
  font-size: 17px;
  font-weight: 500;
}

::placeholder {
  color: #c4d4d4;
  opacity: 1; /* For Firefox users */
}

.search-containeraa {
  display: flex;
  align-items: center;
  position: relative;
}

.search-engine-dropdownaa {
  position: absolute;
  right: 23px;
  top: -27px;
  width: 56px; 
  height: 55px;
  background-color: #3c4043;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 2;
}

.search-engine-dropdownaa img {
  width: 38px;
  height: 38px;
  pointer-events: none;
  margin-top: 1px;
  margin-left: 1px;
}

.dropdown-contentaa {
  display: none;
  position: absolute;
  background-color: #3c4043;
  min-width: 250px; 
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  bottom: 36px;
  left: -78px;
  border-radius: 10px;
  padding: 0;
}

.dropdown-contentaa .status-messageaa {
  color: #f1f1f1;
  padding: 14px 14px; 
  background-color: #484d51; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  font-size: 15px;
}

.dropdown-contentaa a {
  color: #fff;
  padding: 12px 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 48px;
  box-sizing: border-box;
  border-radius: 10px;
}

.dropdown-contentaa a:hover {
  background-color: #484d51;
  border-radius: 10px;
}

.dropdown-contentaa a img {
  width: 28px;
  height: 28px; 
  margin-right: 12px; 
}

.dropdown-contentaa,
.dropdown-contentaa a,
.status-messageaa {
  font-family: Arial, sans-serif;
  font-size: 15px; 
}

.cloak-buttonaa {
  margin-top: 25px;
  margin-right: 4px;
  margin-left: 4px;
  padding: 11px 0px;
  width: 170px;
  font-size: 16px;
  background-color: #ff6161;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.cloak-buttonaa:hover {
  background-color: #ff4747;
}

.settings-gridaa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 10px;
}

.settings-blockaa {
  background: linear-gradient(145deg, #333333, #404040);
  border-radius: 11px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 380px;
  height: 190px;
  padding-top: 30px;
}

.clear-blockaa {
  grid-column: span 3;
  display: flex;
  justify-content: center;
}

.uptop-baraa {
  background-color: #242729;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  z-index: 2147483644;
}

.uptop-baraa .tabaa {
  display: flex;
  align-items: center;
  background-color: #454545;
  color: #d9d9d9;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 4.6px;
  border-bottom-left-radius: 4.6px;
  padding: 9px 10px;
  margin-right: 9px;
  margin-left: -1px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  width: 184px;
  max-width: 184px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 2px;
  margin-top: 1px;
  z-index: 2147483644;
}

.uptop-baraa .tabaa .tab-nameaa {
  flex-grow: 1;
  margin-right: 5px;
  margin-left: 3px;
  margin-bottom: 2px;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 1px;
  z-index: 2147483644;
  display: flex;
  align-items: center;
  transition: margin-left 0.3s ease;
}

.tabaa:has(.spinner) .tab-nameaa {
  margin-left: 22px;
}

.uptop-baraa .tabaa .close-btnaa {
  font-size: 15px;
  color: #aaa;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 1px;
  margin-top: 2px;
  border-radius: 50%;
  padding: 2px;
  z-index: 2147483644;
  transition: background-color 0.3s;
}

.uptop-baraa .tabaa .close-btnaa:hover {
  color: #fff;
  z-index: 2147483644;
}

.uptop-baraa .tabaa.activeaa {
  position: relative;
  background-color: #5c5c5c;
  color: #fff;
  z-index: 2147483644;
}

.uptop-baraa .tabaa.activeaa::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #4dffa6;
}

.uptop-baraa .tabaa.activeaa:hover {
  background-color: #666666;
  color: #fff;
  z-index: 2147483644;
}

.uptop-baraa .tabaa.activeaa::after:hover {
  background-color: #666666;
  color: #fff;
  z-index: 2147483644;
}

.uptop-baraa .tabaa:hover {
  background-color: #505050;
  z-index: 2147483644;
}

.uptop-baraa .add-tabaa {
  font-size: 23px;
  color: #bfbfbf;
  cursor: pointer;
  margin-left: 5px;
  transition: color 0.3s;
  font-weight: 600;
  margin-top: 2px;
  z-index: 2147483644;
  margin-right: 3px;
}

.uptop-baraa .add-tabaa:hover {
  color: #ffffff;
  z-index: 2147483644;
}

.browser-baraa {
  display: flex;
  align-items: center;
  padding: 2.3px 15px;
  background-color: #3c4043;
  z-index: 2147483644;
}

@-moz-document url-prefix() {
  .browser-baraa {
    padding: 5px 15px;
  }
}

.browser-baraa button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #9aa0a6;
  margin-right: 15px;
  cursor: pointer;
  transition: color 0.3s;
  z-index: 2147483644;
}

.browser-baraa button:hover {
  color: #ffffff;
  z-index: 2147483644;
}

.browser-baraa .forward-buttonaa {
  font-size: 23px;
  font-weight: 600;
  z-index: 2147483644;
}
.browser-baraa .backward-buttonaa {
  font-size: 23px;
  font-weight: 600;
  z-index: 2147483644;
}
.browser-baraa .reload-buttonaa {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: -1px;
  z-index: 2147483644;
}
.browser-baraa .home-buttonaa {
  z-index: 2147483644;
}

.browser-baraa .search-buttonaa {
  z-index: 2147483644;
}

.browser-baraa .microphone-buttonaa {
  z-index: 2147483644;
}

.browser-baraa .address-baraa {
  flex-grow: 1;
  display: flex;
  align-items: center;
  background-color: #52565b;
  padding: 5px 13px;
  border-radius: 500px;
  color: #e8eaed;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 2147483644;
}

.browser-baraa .address-baraa input {
  border: none;
  width: 100%;
  outline: none;
  font-size: 15.4px;
  color: #e8eaed;
  background-color: transparent;
  z-index: 2147483644;
}

.browser-baraa .address-baraa .lock-iconaa {
  color: #8ab4f8;
  margin-right: 10px;
  margin-left: 1px;
  margin-bottom: 1.05px;
  font-size: 16px;
  z-index: 2147483644;
}
.browser-baraa .address-baraa .officialaa {
  color: #80ffbf;
  margin-right: 1px;
  margin-left: 0px;
  margin-top: 8px;
  cursor: text;
  font-size: 14px;
  z-index: 2147483644;
}
.browser-baraa .address-baraa .official-caa {
  color: #fff;
  margin-right: -7.3px;
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: 17px;
  background-color: #3c4043;
  height: 29px;
  width: 122px;
  text-align: center;
  border-radius: 500px;
  cursor: text;
  z-index: 2147483644;
}

.browser-baraa .menu-buttonaa {
  font-size: 33px;
  cursor: pointer;
  margin-left: 7px;
  margin-right: 10px;
  margin-left: 1px;
  margin-right: 2px;
  margin-bottom: 4px;
  font-weight: 600;
  z-index: 2147483644;
  font-stretch: 50%;
}

.browser-baraa .menu-buttonaa:hover {
  color: #ffffff;
  z-index: 2147483644;
}

.browser-baraa .wrench-buttonaa {
  font-size: 22px;
  cursor: pointer;
  margin-right: 1px;
  margin-bottom: -1px;
  font-weight: 600;
  z-index: 2147483644;
}

.browser-baraa .fullscreen-button:hover {
  color: #ffffff;
  z-index: 2147483644;
}

.browser-baraa .fullscreen-button {
  font-size: 23px;
  cursor: pointer;
  margin-right: 12px;
  margin-bottom: -1px;
  font-weight: 600;
  z-index: 2147483644;
}

.browser-baraa .wrench-buttonaa:hover {
  color: #ffffff;
  z-index: 2147483644;
}

.browser-baraa .settings-buttonaa {
  font-size: 22px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 9px;
  z-index: 2147483644;
  margin-top: 1px;
}

.browser-baraa .settings-buttonaa:hover {
  color: #ffffff;
  z-index: 2147483644;
}

.tab-contentaa h20 {
  font-size: 61px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
}

.tab-contentaa h21 {
  font-size: 24px;
  font-weight: 400;
  color: #b3b3b3;
  margin-top: 0px;
  margin-bottom: -9px;
  letter-spacing: 0px;
}

.tab-contentaa h22 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
  margin-right: 79%;
  margin-top: -320px;
}

.tab-contentaa h23 {
  font-size: 61px;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
}

.tab-contentaa h24 {
  font-size: 38px;
  font-weight: 600;
  background: linear-gradient(145deg, #1e1e1e, #292929);
  padding: 10px 110px;
  margin-bottom: 300px;
  border-radius: 10px;
  margin-top: 50px;
}

.search-baraa {
  display: flex;
  align-items: center;

  background-color: #3c4043;
  padding: 15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 50%;
  margin-left: 50px;
  margin-top: 30px;
  z-index: 1;
}

.search-baraa input {
  border: none;
  width: 100%;
  outline: none;
  font-size: 18px;
  background-color: transparent;
  color: #e8eaed;
}

.search-baraa i {
  color: #9aa0a6;
  margin-right: 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.search-baraa i:hover {
  color: #ffffff;
}

.search-baraa .search-iconaa {
  font-weight: 600;
  font-size: 18px;
  margin-right: 6px;
}

.tab-contentaa {
  display: none;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0; 
  padding: 0;
  overflow: hidden;
  height: 100vh !important;
  background: linear-gradient(145deg, #1e1e1e, #292929);
}

.tab-contentaa.activeaa {
  display: flex;
  margin: 0; 
  padding: 0;
}

.clear-buttonaa {
  margin-top: 25px;
  background-color: #ff6161;
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
}

.clear-buttonaa:hover {
  background-color: #ff4747;
}

.clear-messageaa {
  background-color: #ff6161;
  padding: 10px 12px;
  border-radius: 9px;
  margin-top: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 2147483647;
}
.top-right-boxaa {
  position: absolute;
  top: 119px;
  left: 10px;
  width: 43px;
  height: 42.4px;
  background-color: #3c4043;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  z-index: 2147483646;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  border: 2px solid #66ffa1;
}

.top-right-boxaa:hover {
  background-color: #43474c;
  border: 2px solid #65ec99;
}
.Xt7Lm9Kp3R8f {
  position: absolute;
  top: 119px;
  left: 66px;
  width: auto;
  height: 42px;
  background-color: #3c4043;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  z-index: 2147483646;
  border: 2px solid #66ffa1;
  padding: 0px 14px;
  white-space: nowrap;
}

.Xt7Lm9Kp3R8f:not(:has(:only-child:contains("ùôºùöäùöçùöé ùöãùö¢ ùöçùöíùöóùöêùöûùöúùöåùöëùöäùöó!"))) {
  color: none;
  font-size: 1px;
}

.Xt7Lm9Kp3R8f p {
  margin: 0;
}

.Q2wE4rT6y8U0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999999999999999999999999;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: normal;
  color: red;
  font-family: Arial, sans-serif;
  white-space: pre-wrap;
  overflow: auto;
}
.dropdown-menuccc {
  display: none;
  position: absolute;
  right: 10px;
  top: 120px;
  background-color: #3c4043;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2147483646;
  border-radius: 10px;
}

.dropdown-menuccc a {
  color: #e8eaed;
  padding: 13px 17px;
  text-decoration: none;
  display: block;
}

.dropdown-menuccc a:hover {
  background-color: #4a4e51;
  border-radius: 10px;
}

.showccc {
  display: block;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  position: absolute;
  left: 9px;
  top: 11px;
  transform: translateY(-50%);
  width: 11px;
  height: 11px;
  border: 3px solid #66ffb3;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
.user-idff {
  font-size: 16px;
  color: #e8eaed;
  margin-top: 0px;
  padding: 13px;
  padding-left: 18px;
  padding-right: 18px;
  display: inline-block;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0px;
  background-color: #484d51;
}
        .encryption-status {
            position: fixed;
            bottom: 10px;
            right: 10px;
            background-color: #333;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
        }
